<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertifyDepartmentAdmin"
        tools:targetApi="31">
        <activity
            android:name="com.example.alertify_department_admin.records.criminals.CriminalsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alertify_department_admin.records.laws.LawsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alertify_department_admin.records.crimes.CrimesActivity"
            android:exported="false" />
        <activity
            android:name=".users.Users_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".main_utils.ProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.alertify_department_admin.splash_screen.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.alertify_department_admin.authentication.LoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_utils.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>